.heading-sky {
  display: flex;
  background-color: skyblue;
  flex-wrap: wrap;
  padding: 0.5rem;
}

.sun {
  display: flex;
  border-radius: 100%;
  width: 44px;
  height: 44px;
  background-color: yellow;
  margin-left: auto;
  padding: 5px;
  align-content: center;
}

.logo {
  padding: 0.1rem 0.1rem 0.1rem 0.1rem;
}

.large-writing {
  font-size: 150%;
}

#heading-sand {
  display: flex;
  background-color: sandybrown;
  padding: 1rem;
  position: relative;
}

.sand {
  position: absolute;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: rgb(168, 102, 102);
}

#durban-container {
  display: flex;
  width: fit-content;
  height: fit-content;
  padding: 5px;
  cursor: pointer;
  box-shadow: 0 1px 2px 1px #000000;
  background-color: rgb(236, 155, 155);
}

#durban-container:active {
  color: white;
}

#pretoria-container {
  display: flex;
  width: fit-content;
  height: fit-content;
  padding: 5px;
  cursor: pointer;
  box-shadow: 0 1px 2px 1px #000000;
  background-color: rgb(181, 164, 245);
}

#pretoria-container:active {
  color: white;
}

#capetown-container {
  display: flex;
  width: fit-content;
  height: fit-content;
  padding: 5px;
  cursor: pointer;
  box-shadow: 0 1px 2px 1px #000000;
  background-color: rgb(156, 240, 131);
}

#capetown-container:active {
  color: white;
}

.name-container {
  display: flex;
  margin-right: auto;
  flex-direction: column;
  gap: 2rem;
}

.table {
  color: black;
  border: 1px solid #000000;
  background-color: wheat;
  text-align: center;
}

#answer {
  display: flex;
}

.assign-left {
  display: flex;
  text-align: left;
}
